# See https://help.github.com/ignore-files/ for more about ignoring files.

node_modules

client/node_modules
client/build
client/yarn-error.log*
client/yarn-debug.log*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-debug.log*
yarn-error.log*
